@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
}

/* sidebar css */

.sidebar{
    background-color: black;
    /* width: 250px; */
    position: absolute;
    height: 100%;
    font-family: 'Fira Sans', sans-serif;
    transition: transform 0.3s ease-in;
}

.sidebar h1{
    font-family: 'Source Code Pro', monospace;
    font-weight: bold; 
    color: white;
    padding: 35px 0px;
    margin: 20px;
}
.sidebar nav{
    padding: 0px 40px;
    margin: -20px 0px;
}

.sidebar nav li{
    list-style: none;
    font-size: 25px;
    padding: 22px 0;
}

.sidebar nav li a{
   text-decoration: none;
   color: white;
}

.main{
    background-color:  white;
    width: 90vw;
    /* padding:25px; */
}
.container{
    display: flex;
    height: 100%;
}

.socialmedia {
    display: flex;
    justify-content: space-around;
    margin: 200px 0;
 }
 .sidebarGo{
    transform: translate(-443px, 0px);
    position: absolute;
 }
 .hamburger{
    position: absolute;
    top: 10px;
    left:10px;
    cursor: pointer;
 }
 .cross{
    margin-left: 197px;
    margin-top: -12px;  
 }